{% extends "adminlayout.njk" %}

{% block content %}

    <main>
        <div class="container">
            <form id="form-delete" method="POST" action="/admin?_method=DELETE">
                <button class="delete" type="submit">Deletar</button>

                <input type="hidden" name="id" value="{{recipe.id}}">
            </form>
            <form method="POST" action="/admin">
                <div class="row justify-content-center">
                    
                    <div class="col-lg-8 admin-form-title">
                        <div>
                            <h1>Criando receita</h1>
                        </div>
                        <div>
                            <button class="save" type="submit">Salvar receita</button>
                        </div>
                    </div>

                    <div class="col-lg-8 admin-form">
                        {% include "admin/fields.njk" %}
                    </div>
                </div>
                <input type="hidden" name="id" value="{{recipe.id}}">
            </form>
            
        </div>
    </main>

{% endblock content %} 