{% extends "adminlayout.njk" %}

{% block content %}

    <main>
        <div class="container">
            <div class="col-lg-12 row admin-form-title">
                <div>
                    <h1>Receita: {{recipe.title}}</h1>
                </div>
                <div>
                    <a class="button" href="/admin/recipes/create">Editar receita</a>
                </div>
            </div>

            <div class="col-lg-12 row justify-content-center">
                <div class="admin-details">

                    <div>
                        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}"/>
                        <p class="title">{{recipe.title}}</p>
                        <p class="chef">por {{recipe.chef}}</p>
                    </div>

                    <div>
                        <h2>Ingredientes</h2>
                        <ul id="lista0">
                        {% for i in recipe.ingredients %}
                            <li>{{i}}</li>
                        {% endfor %}
                        </ul>
                    </div>


                    <div>
                        <h2>Modo de preparo</h2>
                        <ul id="lista1">
                        {% for i in recipe.preparation %}
                            <li class="preparation">{{i}}</li>
                        {% endfor %}
                        </ul>
                    </div>


                    <div>
                        <h2>Informações adicionais</h2>
                        <p id="lista2">{{recipe.information}}</p>
                    </div>

                </div>
            </div>
        </div>
    </main>

{% endblock content %} 