{% extends "layout.njk" %}

{% block content %}

    <main>

        <div class="container main-content">
            <div class="row justify-content-md-center banner">
                <div class="banner-text col-lg-4-md-12-sm-12 mx-auto">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a contruir os melhores pratos 
                        com receitas criadas por profissionais 
                        do mundo inteiro.
                    </p>
                </div>

                <div class="banner-img col-lg-4-md-12-sm-12 mx-auto">
                  <img src="/assets/chef.png">
                </div>

            </div>

            <div class="row justify-content-md-center recipes-container">

                <div class="col-lg-12">
                    <h2>Mais acessadas</h2>
                </div>

                <div class="col-lg-4-md-4-sm-12 mx-auto">
                    <ul class="recipes-list">
                        <li>
                            <article class="recipe-card">
                                <img src="/assets/burger.png" alt="Triplo bacon burger">
                                <h3>Triplo bacon burger</h3>
                                <p>por Jorge Relato</p>
                            </article>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4-md-4-sm-12 mx-auto">
                    <ul class="recipes-list">
                        <li>
                            <article class="recipe-card">
                                <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
                                <h3>Docinhos pão-do-céu</h3>
                                <p>por Ricardo Golvea</p>
                            </article>
                        </li>
                    </ul>
                </div>


                <div class="col-lg-4-md-4-sm-12 mx-auto">
                    <ul class="recipes-list">
                        <li>
                            <article class="recipe-card">
                                <img src="/assets/espaguete.png" alt="Espaguete ao alho">
                                <h3>Espaguete ao alho</h3>
                                <p>por Júlia Kinoto</p>
                            </article>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4-md-4-sm-12 mx-auto">
                    <ul class="recipes-list">
                        <li>
                            <article class="recipe-card">
                                <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                                <h3>Asinhas de frango ao barbecue</h3>
                                <p>por Vania Steroski</p>
                            </article>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4-md-4-sm-12 mx-auto">
                    <ul class="recipes-list">
                        <li>
                            <article class="recipe-card">
                                <img src="/assets/pizza.png" alt="Pizza 4 estações">
                                <h3>Pizza 4 estações</h3>
                                <p>por Fabiana Melo</p>
                            </article>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4-md-4-sm-12 mx-auto">
                    <ul class="recipes-list">
                        <li>
                            <article class="recipe-card">
                                <img src="/assets/lasanha.png" alt="Lasanha mac n' cheese">
                                <h3>Lasanha mac n' cheese</h3>
                                <p>por Jualiano Viera</p>
                            </article>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </main>

{% endblock content %} 