<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Foodfy</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro">
  <meta name="keywords" content="Receitas, chef, comidas">
  <meta content="Camilla Correia" name="creator">

  <!-- Favicons -->
  <link href="/assets/favicon.ico" rel="icon">

  <!-- Bootstrap CSS File -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- CSS File -->
  <link href="/style.css" rel="stylesheet">

</head>

<body>

    <!--==========================
    Header
    ============================-->
    <header>
      <div class="header-content">
        <a href="index.html">
          <img src="/assets/logo.png" alt="Foodfy">
        </a>
        <nav>
            <a href="/">Home</a>
            <a href="/about">Sobre</a>
            <a href="/recipes">Receitas</a>
        </nav>
      </div>
      
    </header><!-- #header -->

    {% block content %}

    {% endblock content %}

    <!--==========================
    Footer
    ============================-->
    <footer>

        <p>Todos os direitos reservados Foodfy</p>

    </footer>

  <!--  Javascript File -->
  <script src="/scripts.js"></script>

</body>
</html>