{% extends "layout.njk" %}

{% block content %}

    <main>

        <div class="container main-content">
            <div class="row justify-content-md-center banner">
                <div class="banner-text col-lg-4-md-12-sm-12 mx-auto">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a contruir os melhores pratos 
                        com receitas criadas por profissionais 
                        do mundo inteiro.
                    </p>
                </div>

                <div class="banner-img col-lg-4-md-12-sm-12 mx-auto">
                  <img src="/assets/chef.png">
                </div>

            </div>

            <div class="row justify-content-md-center recipes-container">

                <div class="col-lg-12">
                    <h2>Mais acessadas</h2>
                </div>

                {% for recipe in recipes %}
                
                    <div class="col-lg-4-md-4-sm-12 mx-auto">
                        <ul class="recipes-list">
                            <li>
                                <article class="recipe-card">
                                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                                    <h3>{{recipe.title}}</h3>
                                    <p>por {{recipe.author}}</p>
                                </article>
                            </li>
                        </ul>
                    </div>

                {% endfor %}

            </div>
        </div>

    </main>

{% endblock content %} 